<div id="modalDemo" class="modal-demo" ng-controller="HomeController as print">
    <form class="form-horizontal" role="form">
        <h2>VS Foods</h2>
        <div class="form-group">
            <label class="col-sm-3 form-control-left">Address: </label>
            <div class="col-sm-9">
                <p>Add: Ground Floor, Wing A NSL Arena</p>
                <p>Plot 6, Survey No1, IDA</p>
                <p>Uppal, Hyderabad 500039</p>
                <p>Tel: </p>
            </div>
        </div>
        <hr class="pull-left-div"/>
        <div class="form-group">
            <label class="col-sm-3 form-control-left">Cash Memo: </label>
            <div class="col-sm-9">
                <label>{{print.printableData._id}}</label>
                <label style="padding-left: 40%;">{{print.printableData.create.toISOString().substring(0, 10)}}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 form-control-left">Cashier: </label>
            <div class="col-sm-9">
                <label>VSFoods</label>
                <label style="padding-left: 46%;">Time:{{print.printableData.create.toLocaleTimeString()}}</label>
            </div>
        </div>
        <hr class="pull-left-div"/>
        <div class="form-group" style="padding-left: 5%">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Qty.</th>
                    <th>Amt</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in print.printableData.items">
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.total}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="pull-left-div"/>
        <div class="form-group">
            <label class="col-sm-3 form-control-left">Total Amount: </label>
            <div class="col-sm-9">
                <label style="padding-left: 46%;">{{print.printableData.total}} INR</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 form-control-left">Less: {{print.printableData.discount}}% Dis </label>
            <div class="col-sm-9">
                <label style="padding-left: 46%;">{{print.printableData.discountTotal}} INR</label>
            </div>
        </div>
        <hr class="pull-left-div"/>
        <div class="form-group">
            <label class="col-sm-3 form-control-left">Sub Total:</label>
            <div class="col-sm-9">
                <label style="padding-left: 46%;">{{print.printableData.subTotal}} INR</label>
            </div>
        </div>
        <hr class="pull-left-div"/>
    </form>
</div>

<div class="form-group pull-right">
    <div class="col-sm-9">
        <button class="btn btn-success"
                ng-click="printCtrl.$uibModalInstance.close(); printCtrl.printOrder('modalDemo')">
            <i class="fa fa-print"></i>Print
        </button>
    </div>
</div>