<nav-bar></nav-bar>
<div class="form-group" ng-controller="OrderController as order">
    <form class="form-horizontal" role="form" autocomplete="off">
        <h3>Orders</h3>
        <!-- <h4 class="error-message" ng-model="errorMessage" ng-show="errorMessage.length"> {{errorMessage}} </h4>-->
        <div class="form-group">
            <label class="control-label col-sm-2">Period</label>
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                           close-text="Close" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
        </div>
    </form>
</div>