<nav-bar></nav-bar>
<div class="container" ng-controller="HomeController as home">
    <div id="products" class="row list-group">
        <div class="item col-sm-2" ng-repeat="item in home.items">
            <div class="thumbnail">
                <img class="group list-group-image" ng-src="{{item.imageStream}}" alt=""/>
                <div class="caption">
                    <h4 class="group center-block list-group-item-heading">
                        {{item.itemName}}
                    </h4>
                    <h4 class="group center-block list-group-item-heading">
                        {{item.price}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>