// Sign In CSS Start Here

.title {
  font-size: @font-size-lg;
  padding: 20px;
  border-bottom: 1px solid @gray-light;
  margin: -20px -20px 20px;
  background: @gray-light;
  border-radius: 8px 8px 0px 0px;
}
.signin-pg {
  background: url(../images/login-bg.png) no-repeat left center;
  background-size: 580px;
  .center-block {
    max-width: 95%;
    width: 400px;
    margin: auto;
    margin-top: 10%;
    border: 1px solid @gray-light;
    padding: @pad-base * 2;
    .border-radius (10px);
  }
  .help-block {
    color: @red !important;
    font-size: @font-size-xs;
  }
  .usr-title {
    .title ();
  }
}

// Sign Up CSS Start Here
.signup-pg {
  .center-block {
    max-width: 95%;
    width: 850px;
    margin:25px auto;
    border: 1px solid @gray-light;
    padding: @pad-base * 2;
    .border-radius (10px);
  }
  .help-block {
    color: @red !important;
    font-size: @font-size-xs;
  }
  .usr-title {
    .title ();
  }
  .form-group {
    width: 100%;
    max-width: 400px;
    float: left;
    padding-right: 20px;
  }
}
.clr {
  clear: both;
}
.btn {
  padding: 7px 20px;
  font-size: @font-size-base;
}