// Color variables (appears count calculates by raw css)
@color0: #083858; // Appears 4 times
@color1: #ffffff; // Appears 4 times
@color2: #cccccc; // Appears 3 times



                               .btn-facebook {
                                 background-color: #3B5998;
                                 border-color: #133783;
                                 color: @color1;
                               }
.btn-twitter {
  background-color: #2daddc;
  border-color: #0271bf;
  color: @color1;
}
.btn-github {
  background-color: #fafafa;
  border-color: @color2;
  color: @color1;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.signinForm {
  border-radius: 8px 8px;
  border: 1px solid #bdbdbd;
  box-shadow: 0 1px 1px 0 grey;
  margin: 0 auto;
  width: 340px;
}
.input {
  margin: 15px 0;
  vertical-align: baseline;
}
.snapit-logo {
  margin: 0 auto;
  width: 200px;
}
.login-button {
  background-color: @color0;
  border-radius: 8px;
  border: 1px solid @color2;
  color: @color1;
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}
&:hover {
   background-color: @color2;
   color: @color0;
 }
}
.panel-login {
//border-radius: 8px;
}
.panelintro {
  border-radius: 8px;
  border: 2px solid @color0;
}
.panel {
  border-bottom: 0;
}
.panel-heading {
  border-bottom: 0;
}
.labeltext {
  color: @color0;
}