<div class="center-block"
     style="border: 2px solid #083858; border-radius: 8px; width: 450px; padding: 0 10px 20px 20px;">
    <div class="alert alert-danger" ng-show="passwordExpired" role="alert">
        <strong>Problem saving password!</strong> {{errorMessage}}
    </div>
    <h1 class="text-center" style="color: #083858;">Reset Password</h1>

    <form class="form" name="form" ng-submit="resetPassword(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.oldPassword.$valid && submitted,
                                          'has-error': form.oldPassword.$invalid && submitted }">
            <label style="color: #083858;">Enter your old password</label>

            <input type="password" name="oldPassword" placeholder="Enter old password" class="form-control"
                   ng-model="user.oldPassword"
                   mongoose-error required/>
            <p class="help-block" ng-show="form.oldPassword.$error.required && submitted">
                old password is required
            </p>
            <p class="help-block" ng-show="form.oldPassword.$error.mongoose">
                {{ errors.other }}
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
            <label style="color: #083858;">Enter your new password here</label>

            <input type="password" name="password" placeholder="Enter new password" class="form-control"
                   ng-model="user.password"
                   mongoose-error required/>
            <p class="help-block" ng-show="form.password.$error.required && submitted">
                password is required
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.other }}
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirm.$valid && submitted,
                                          'has-error': form.confirm.$invalid && submitted }">
            <label style="color: #083858;">Enter confirm password here</label>

            <input type="password" name="confirm" placeholder="Enter confirm password" class="form-control"
                   ng-model="confirm" compare-to="user.password"
                   mongoose-error required/>
            <p class="help-block" ng-show="form.confirm.$error.required && submitted">
                confirm password is required
            </p>
            <p class="help-block" ng-show="form.confirm.$error.mongoose">
                {{ errors.other }}
            </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-sm btn-primary" type="submit">Reset</button>
    </form>

</div>